<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.gateway.mapper.AccountFeeMapper" >
  <resultMap id="BaseResultMap" type="com.pay.gateway.entity.AccountFee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accountId" property="accountId" jdbcType="VARCHAR" />
    <result column="accountChannel" property="accountChannel" jdbcType="VARCHAR" />
    <result column="ChannelProduct" property="channelProduct" jdbcType="VARCHAR" />
    <result column="accountFee" property="accountFee" jdbcType="VARCHAR" />
    <result column="accountCost" property="accountCost" jdbcType="VARCHAR" />
    <result column="withdrawal" property="withdrawal" jdbcType="VARCHAR" />
    <result column="withdrawalCost" property="withdrawalCost" jdbcType="VARCHAR" />
    <result column="FeeStautus" property="feeStautus" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="submitTime" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="submitSystem" property="submitSystem" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, accountId, accountChannel, ChannelProduct, accountFee, accountCost, withdrawal, 
    withdrawalCost, FeeStautus, createTime, submitTime, submitSystem, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pay.gateway.entity.AccountFeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from manage_account_fee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manage_account_fee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manage_account_fee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pay.gateway.entity.AccountFeeExample" >
    delete from manage_account_fee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pay.gateway.entity.AccountFee" useGeneratedKeys="true" keyProperty="id" >
    insert into manage_account_fee (accountId, accountChannel, ChannelProduct, 
      accountFee, accountCost, withdrawal, 
      withdrawalCost, FeeStautus, createTime, 
      submitTime, submitSystem, status
      )
    values (#{accountId,jdbcType=VARCHAR}, #{accountChannel,jdbcType=VARCHAR}, #{channelProduct,jdbcType=VARCHAR}, 
      #{accountFee,jdbcType=VARCHAR}, #{accountCost,jdbcType=VARCHAR}, #{withdrawal,jdbcType=VARCHAR}, 
      #{withdrawalCost,jdbcType=VARCHAR}, #{feeStautus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{submitTime,jdbcType=TIMESTAMP}, #{submitSystem,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pay.gateway.entity.AccountFee" useGeneratedKeys="true" keyProperty="id" >
    insert into manage_account_fee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        accountId,
      </if>
      <if test="accountChannel != null" >
        accountChannel,
      </if>
      <if test="channelProduct != null" >
        ChannelProduct,
      </if>
      <if test="accountFee != null" >
        accountFee,
      </if>
      <if test="accountCost != null" >
        accountCost,
      </if>
      <if test="withdrawal != null" >
        withdrawal,
      </if>
      <if test="withdrawalCost != null" >
        withdrawalCost,
      </if>
      <if test="feeStautus != null" >
        FeeStautus,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="submitTime != null" >
        submitTime,
      </if>
      <if test="submitSystem != null" >
        submitSystem,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountChannel != null" >
        #{accountChannel,jdbcType=VARCHAR},
      </if>
      <if test="channelProduct != null" >
        #{channelProduct,jdbcType=VARCHAR},
      </if>
      <if test="accountFee != null" >
        #{accountFee,jdbcType=VARCHAR},
      </if>
      <if test="accountCost != null" >
        #{accountCost,jdbcType=VARCHAR},
      </if>
      <if test="withdrawal != null" >
        #{withdrawal,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalCost != null" >
        #{withdrawalCost,jdbcType=VARCHAR},
      </if>
      <if test="feeStautus != null" >
        #{feeStautus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitSystem != null" >
        #{submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pay.gateway.entity.AccountFeeExample" resultType="java.lang.Integer" >
    select count(*) from manage_account_fee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update manage_account_fee
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null" >
        accountId = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountChannel != null" >
        accountChannel = #{record.accountChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.channelProduct != null" >
        ChannelProduct = #{record.channelProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.accountFee != null" >
        accountFee = #{record.accountFee,jdbcType=VARCHAR},
      </if>
      <if test="record.accountCost != null" >
        accountCost = #{record.accountCost,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawal != null" >
        withdrawal = #{record.withdrawal,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawalCost != null" >
        withdrawalCost = #{record.withdrawalCost,jdbcType=VARCHAR},
      </if>
      <if test="record.feeStautus != null" >
        FeeStautus = #{record.feeStautus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitTime != null" >
        submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitSystem != null" >
        submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update manage_account_fee
    set id = #{record.id,jdbcType=INTEGER},
      accountId = #{record.accountId,jdbcType=VARCHAR},
      accountChannel = #{record.accountChannel,jdbcType=VARCHAR},
      ChannelProduct = #{record.channelProduct,jdbcType=VARCHAR},
      accountFee = #{record.accountFee,jdbcType=VARCHAR},
      accountCost = #{record.accountCost,jdbcType=VARCHAR},
      withdrawal = #{record.withdrawal,jdbcType=VARCHAR},
      withdrawalCost = #{record.withdrawalCost,jdbcType=VARCHAR},
      FeeStautus = #{record.feeStautus,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.gateway.entity.AccountFee" >
    update manage_account_fee
    <set >
      <if test="accountId != null" >
        accountId = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountChannel != null" >
        accountChannel = #{accountChannel,jdbcType=VARCHAR},
      </if>
      <if test="channelProduct != null" >
        ChannelProduct = #{channelProduct,jdbcType=VARCHAR},
      </if>
      <if test="accountFee != null" >
        accountFee = #{accountFee,jdbcType=VARCHAR},
      </if>
      <if test="accountCost != null" >
        accountCost = #{accountCost,jdbcType=VARCHAR},
      </if>
      <if test="withdrawal != null" >
        withdrawal = #{withdrawal,jdbcType=VARCHAR},
      </if>
      <if test="withdrawalCost != null" >
        withdrawalCost = #{withdrawalCost,jdbcType=VARCHAR},
      </if>
      <if test="feeStautus != null" >
        FeeStautus = #{feeStautus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null" >
        submitTime = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitSystem != null" >
        submitSystem = #{submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.gateway.entity.AccountFee" >
    update manage_account_fee
    set accountId = #{accountId,jdbcType=VARCHAR},
      accountChannel = #{accountChannel,jdbcType=VARCHAR},
      ChannelProduct = #{channelProduct,jdbcType=VARCHAR},
      accountFee = #{accountFee,jdbcType=VARCHAR},
      accountCost = #{accountCost,jdbcType=VARCHAR},
      withdrawal = #{withdrawal,jdbcType=VARCHAR},
      withdrawalCost = #{withdrawalCost,jdbcType=VARCHAR},
      FeeStautus = #{feeStautus,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      submitTime = #{submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{submitSystem,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>