<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.gateway.mapper.ExceptionOrderEntityMapper" >
  <resultMap id="BaseResultMap" type="com.pay.gateway.entity.ExceptionOrderEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="orderExceptId" property="orderExceptId" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="exceptStatus" property="exceptStatus" jdbcType="INTEGER" />
    <result column="exceptType" property="exceptType" jdbcType="INTEGER" />
    <result column="orderAccount" property="orderAccount" jdbcType="VARCHAR" />
    <result column="exceptOrderAmount" property="exceptOrderAmount" jdbcType="VARCHAR" />
    <result column="orderGenerationIp" property="orderGenerationIp" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="submitTime" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="submitSystem" property="submitSystem" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="retain1" property="retain1" jdbcType="VARCHAR" />
    <result column="retain2" property="retain2" jdbcType="VARCHAR" />
    <result column="retain3" property="retain3" jdbcType="VARCHAR" />
    <result column="retain4" property="retain4" jdbcType="VARCHAR" />
    <result column="retain5" property="retain5" jdbcType="VARCHAR" />
    <result column="retain6" property="retain6" jdbcType="VARCHAR" />
    <result column="retain7" property="retain7" jdbcType="VARCHAR" />
    <result column="retain8" property="retain8" jdbcType="VARCHAR" />
    <result column="retain9" property="retain9" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pay.gateway.entity.ExceptionOrderEntity" extends="BaseResultMap" >
    <result column="explain" property="explain" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, createTime, orderExceptId, orderId, exceptStatus, exceptType, orderAccount, exceptOrderAmount, 
    orderGenerationIp, operation, submitTime, submitSystem, status, retain1, retain2, 
    retain3, retain4, retain5, retain6, retain7, retain8, retain9
  </sql>
  <sql id="Blob_Column_List" >
    explain
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pay.gateway.entity.ExceptionOrderEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from manage_exception_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pay.gateway.entity.ExceptionOrderEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from manage_exception_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from manage_exception_order
    where id = #{id,jdbcType=INTEGER}
      and createTime = #{createTime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from manage_exception_order
    where id = #{id,jdbcType=INTEGER}
      and createTime = #{createTime,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.pay.gateway.entity.ExceptionOrderEntityExample" >
    delete from manage_exception_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pay.gateway.entity.ExceptionOrderEntity" useGeneratedKeys="true" keyProperty="id" >
    insert into manage_exception_order (createTime, orderExceptId, orderId, 
      exceptStatus, exceptType, orderAccount, 
      exceptOrderAmount, orderGenerationIp, operation, 
      submitTime, submitSystem, status, 
      retain1, retain2, retain3, 
      retain4, retain5, retain6, 
      retain7, retain8, retain9, 
      explain)
    values (#{createTime,jdbcType=TIMESTAMP}, #{orderExceptId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{exceptStatus,jdbcType=INTEGER}, #{exceptType,jdbcType=INTEGER}, #{orderAccount,jdbcType=VARCHAR}, 
      #{exceptOrderAmount,jdbcType=VARCHAR}, #{orderGenerationIp,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{submitTime,jdbcType=TIMESTAMP}, #{submitSystem,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{retain1,jdbcType=VARCHAR}, #{retain2,jdbcType=VARCHAR}, #{retain3,jdbcType=VARCHAR}, 
      #{retain4,jdbcType=VARCHAR}, #{retain5,jdbcType=VARCHAR}, #{retain6,jdbcType=VARCHAR}, 
      #{retain7,jdbcType=VARCHAR}, #{retain8,jdbcType=VARCHAR}, #{retain9,jdbcType=VARCHAR}, 
      #{explain,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pay.gateway.entity.ExceptionOrderEntity" useGeneratedKeys="true" keyProperty="id" >
    insert into manage_exception_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="orderExceptId != null" >
        orderExceptId,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="exceptStatus != null" >
        exceptStatus,
      </if>
      <if test="exceptType != null" >
        exceptType,
      </if>
      <if test="orderAccount != null" >
        orderAccount,
      </if>
      <if test="exceptOrderAmount != null" >
        exceptOrderAmount,
      </if>
      <if test="orderGenerationIp != null" >
        orderGenerationIp,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="submitTime != null" >
        submitTime,
      </if>
      <if test="submitSystem != null" >
        submitSystem,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="retain1 != null" >
        retain1,
      </if>
      <if test="retain2 != null" >
        retain2,
      </if>
      <if test="retain3 != null" >
        retain3,
      </if>
      <if test="retain4 != null" >
        retain4,
      </if>
      <if test="retain5 != null" >
        retain5,
      </if>
      <if test="retain6 != null" >
        retain6,
      </if>
      <if test="retain7 != null" >
        retain7,
      </if>
      <if test="retain8 != null" >
        retain8,
      </if>
      <if test="retain9 != null" >
        retain9,
      </if>
      <if test="explain != null" >
        explain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderExceptId != null" >
        #{orderExceptId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="exceptStatus != null" >
        #{exceptStatus,jdbcType=INTEGER},
      </if>
      <if test="exceptType != null" >
        #{exceptType,jdbcType=INTEGER},
      </if>
      <if test="orderAccount != null" >
        #{orderAccount,jdbcType=VARCHAR},
      </if>
      <if test="exceptOrderAmount != null" >
        #{exceptOrderAmount,jdbcType=VARCHAR},
      </if>
      <if test="orderGenerationIp != null" >
        #{orderGenerationIp,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitSystem != null" >
        #{submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="retain1 != null" >
        #{retain1,jdbcType=VARCHAR},
      </if>
      <if test="retain2 != null" >
        #{retain2,jdbcType=VARCHAR},
      </if>
      <if test="retain3 != null" >
        #{retain3,jdbcType=VARCHAR},
      </if>
      <if test="retain4 != null" >
        #{retain4,jdbcType=VARCHAR},
      </if>
      <if test="retain5 != null" >
        #{retain5,jdbcType=VARCHAR},
      </if>
      <if test="retain6 != null" >
        #{retain6,jdbcType=VARCHAR},
      </if>
      <if test="retain7 != null" >
        #{retain7,jdbcType=VARCHAR},
      </if>
      <if test="retain8 != null" >
        #{retain8,jdbcType=VARCHAR},
      </if>
      <if test="retain9 != null" >
        #{retain9,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pay.gateway.entity.ExceptionOrderEntityExample" resultType="java.lang.Integer" >
    select count(*) from manage_exception_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update manage_exception_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderExceptId != null" >
        orderExceptId = #{record.orderExceptId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        orderId = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.exceptStatus != null" >
        exceptStatus = #{record.exceptStatus,jdbcType=INTEGER},
      </if>
      <if test="record.exceptType != null" >
        exceptType = #{record.exceptType,jdbcType=INTEGER},
      </if>
      <if test="record.orderAccount != null" >
        orderAccount = #{record.orderAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.exceptOrderAmount != null" >
        exceptOrderAmount = #{record.exceptOrderAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.orderGenerationIp != null" >
        orderGenerationIp = #{record.orderGenerationIp,jdbcType=VARCHAR},
      </if>
      <if test="record.operation != null" >
        operation = #{record.operation,jdbcType=VARCHAR},
      </if>
      <if test="record.submitTime != null" >
        submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.submitSystem != null" >
        submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.retain1 != null" >
        retain1 = #{record.retain1,jdbcType=VARCHAR},
      </if>
      <if test="record.retain2 != null" >
        retain2 = #{record.retain2,jdbcType=VARCHAR},
      </if>
      <if test="record.retain3 != null" >
        retain3 = #{record.retain3,jdbcType=VARCHAR},
      </if>
      <if test="record.retain4 != null" >
        retain4 = #{record.retain4,jdbcType=VARCHAR},
      </if>
      <if test="record.retain5 != null" >
        retain5 = #{record.retain5,jdbcType=VARCHAR},
      </if>
      <if test="record.retain6 != null" >
        retain6 = #{record.retain6,jdbcType=VARCHAR},
      </if>
      <if test="record.retain7 != null" >
        retain7 = #{record.retain7,jdbcType=VARCHAR},
      </if>
      <if test="record.retain8 != null" >
        retain8 = #{record.retain8,jdbcType=VARCHAR},
      </if>
      <if test="record.retain9 != null" >
        retain9 = #{record.retain9,jdbcType=VARCHAR},
      </if>
      <if test="record.explain != null" >
        explain = #{record.explain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update manage_exception_order
    set id = #{record.id,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      orderExceptId = #{record.orderExceptId,jdbcType=VARCHAR},
      orderId = #{record.orderId,jdbcType=VARCHAR},
      exceptStatus = #{record.exceptStatus,jdbcType=INTEGER},
      exceptType = #{record.exceptType,jdbcType=INTEGER},
      orderAccount = #{record.orderAccount,jdbcType=VARCHAR},
      exceptOrderAmount = #{record.exceptOrderAmount,jdbcType=VARCHAR},
      orderGenerationIp = #{record.orderGenerationIp,jdbcType=VARCHAR},
      operation = #{record.operation,jdbcType=VARCHAR},
      submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      retain1 = #{record.retain1,jdbcType=VARCHAR},
      retain2 = #{record.retain2,jdbcType=VARCHAR},
      retain3 = #{record.retain3,jdbcType=VARCHAR},
      retain4 = #{record.retain4,jdbcType=VARCHAR},
      retain5 = #{record.retain5,jdbcType=VARCHAR},
      retain6 = #{record.retain6,jdbcType=VARCHAR},
      retain7 = #{record.retain7,jdbcType=VARCHAR},
      retain8 = #{record.retain8,jdbcType=VARCHAR},
      retain9 = #{record.retain9,jdbcType=VARCHAR},
      explain = #{record.explain,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update manage_exception_order
    set id = #{record.id,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      orderExceptId = #{record.orderExceptId,jdbcType=VARCHAR},
      orderId = #{record.orderId,jdbcType=VARCHAR},
      exceptStatus = #{record.exceptStatus,jdbcType=INTEGER},
      exceptType = #{record.exceptType,jdbcType=INTEGER},
      orderAccount = #{record.orderAccount,jdbcType=VARCHAR},
      exceptOrderAmount = #{record.exceptOrderAmount,jdbcType=VARCHAR},
      orderGenerationIp = #{record.orderGenerationIp,jdbcType=VARCHAR},
      operation = #{record.operation,jdbcType=VARCHAR},
      submitTime = #{record.submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{record.submitSystem,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      retain1 = #{record.retain1,jdbcType=VARCHAR},
      retain2 = #{record.retain2,jdbcType=VARCHAR},
      retain3 = #{record.retain3,jdbcType=VARCHAR},
      retain4 = #{record.retain4,jdbcType=VARCHAR},
      retain5 = #{record.retain5,jdbcType=VARCHAR},
      retain6 = #{record.retain6,jdbcType=VARCHAR},
      retain7 = #{record.retain7,jdbcType=VARCHAR},
      retain8 = #{record.retain8,jdbcType=VARCHAR},
      retain9 = #{record.retain9,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.gateway.entity.ExceptionOrderEntity" >
    update manage_exception_order
    <set >
      <if test="orderExceptId != null" >
        orderExceptId = #{orderExceptId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="exceptStatus != null" >
        exceptStatus = #{exceptStatus,jdbcType=INTEGER},
      </if>
      <if test="exceptType != null" >
        exceptType = #{exceptType,jdbcType=INTEGER},
      </if>
      <if test="orderAccount != null" >
        orderAccount = #{orderAccount,jdbcType=VARCHAR},
      </if>
      <if test="exceptOrderAmount != null" >
        exceptOrderAmount = #{exceptOrderAmount,jdbcType=VARCHAR},
      </if>
      <if test="orderGenerationIp != null" >
        orderGenerationIp = #{orderGenerationIp,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submitTime = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitSystem != null" >
        submitSystem = #{submitSystem,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="retain1 != null" >
        retain1 = #{retain1,jdbcType=VARCHAR},
      </if>
      <if test="retain2 != null" >
        retain2 = #{retain2,jdbcType=VARCHAR},
      </if>
      <if test="retain3 != null" >
        retain3 = #{retain3,jdbcType=VARCHAR},
      </if>
      <if test="retain4 != null" >
        retain4 = #{retain4,jdbcType=VARCHAR},
      </if>
      <if test="retain5 != null" >
        retain5 = #{retain5,jdbcType=VARCHAR},
      </if>
      <if test="retain6 != null" >
        retain6 = #{retain6,jdbcType=VARCHAR},
      </if>
      <if test="retain7 != null" >
        retain7 = #{retain7,jdbcType=VARCHAR},
      </if>
      <if test="retain8 != null" >
        retain8 = #{retain8,jdbcType=VARCHAR},
      </if>
      <if test="retain9 != null" >
        retain9 = #{retain9,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and createTime = #{createTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pay.gateway.entity.ExceptionOrderEntity" >
    update manage_exception_order
    set orderExceptId = #{orderExceptId,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR},
      exceptStatus = #{exceptStatus,jdbcType=INTEGER},
      exceptType = #{exceptType,jdbcType=INTEGER},
      orderAccount = #{orderAccount,jdbcType=VARCHAR},
      exceptOrderAmount = #{exceptOrderAmount,jdbcType=VARCHAR},
      orderGenerationIp = #{orderGenerationIp,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      submitTime = #{submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{submitSystem,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      retain1 = #{retain1,jdbcType=VARCHAR},
      retain2 = #{retain2,jdbcType=VARCHAR},
      retain3 = #{retain3,jdbcType=VARCHAR},
      retain4 = #{retain4,jdbcType=VARCHAR},
      retain5 = #{retain5,jdbcType=VARCHAR},
      retain6 = #{retain6,jdbcType=VARCHAR},
      retain7 = #{retain7,jdbcType=VARCHAR},
      retain8 = #{retain8,jdbcType=VARCHAR},
      retain9 = #{retain9,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and createTime = #{createTime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.gateway.entity.ExceptionOrderEntity" >
    update manage_exception_order
    set orderExceptId = #{orderExceptId,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR},
      exceptStatus = #{exceptStatus,jdbcType=INTEGER},
      exceptType = #{exceptType,jdbcType=INTEGER},
      orderAccount = #{orderAccount,jdbcType=VARCHAR},
      exceptOrderAmount = #{exceptOrderAmount,jdbcType=VARCHAR},
      orderGenerationIp = #{orderGenerationIp,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      submitTime = #{submitTime,jdbcType=TIMESTAMP},
      submitSystem = #{submitSystem,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      retain1 = #{retain1,jdbcType=VARCHAR},
      retain2 = #{retain2,jdbcType=VARCHAR},
      retain3 = #{retain3,jdbcType=VARCHAR},
      retain4 = #{retain4,jdbcType=VARCHAR},
      retain5 = #{retain5,jdbcType=VARCHAR},
      retain6 = #{retain6,jdbcType=VARCHAR},
      retain7 = #{retain7,jdbcType=VARCHAR},
      retain8 = #{retain8,jdbcType=VARCHAR},
      retain9 = #{retain9,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and createTime = #{createTime,jdbcType=TIMESTAMP}
  </update>
</mapper>